:root {
  --brand-color: #2196f3;
  --dark-grey-header: #212121;
  --light-grey: #757575;
  --white-color: #ffffff;
  --black-colour: #000000;
  --button-background: #f5f4fa;
}
body {
  font-family: "Roboto", "Raleway" sans-serif;
  background-color: #e5e5e5;
  color: var(--dark-grey-header);
  margin: 0 auto;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0 auto;
  padding: 0;
}
.wrapper {
  width: 100%;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  padding-inline: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
img {
  display: block;
}
.link:hover {
  color: var(--brand-color);
}
/* header */
.header {
  border-bottom: 1px #ececec solid;
  padding-right: 27px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  color: var(--black-colour);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
}
.highlight {
  color: var(--brand-color);
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 46px;
}
.nav-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-primary {
  color: var(--dark-grey-header);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
}

.contacts-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contacts-header-item {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  margin-left: 50px;
}
/* main */
.section-dark {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
}
.main-header {
  color: var(--white-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 252px;
  padding-right: 252px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
  border-color: var(--black-colour);
  color: var(--white-color);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-left: 500px;
  margin-right: 500px;
}

.button-primary:hover {
  background-color: var(--button-background);
  color: var(--black-colour);
}
.lorem {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}

.lorem-item {
  width: 270px;
  flex-basis: calc((100% - 30px) / 5);
  margin-top: 94px;
}
.lorem-item:not(:last-child) {
  margin-right: 0px;
}
.lorem-list {
  color: var(--dark-grey-header);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}
.lorem-text {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}
.header-secondary {
  color: var(--dark-grey-header);
  font-size: 36px;
  line-height: 1.67;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.our-job {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.our-job-item {
  flex-basis: calc((100% - 60px) / 3);
}
.our-job-item:not(:last-child) {
  margin-right: 0px;
}
.picture {
  display: block;
}
.our-team {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.our-team-item {
  flex-basis: calc((100% - 90px) / 4);
}
.our-team-item:not(:last-child) {
  margin-right: 0px;
}
.personal-data {
  color: var(--dark-grey-header);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}
.job-position {
  color: var(--light-grey);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
}
/*footer*/
.footer {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--white-color);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
}
address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}
.company-location {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}
.contact-footer {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  text-decoration: none;
}
/*portfolio*/
.portfolio-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.button-portfolio {
  background-color: var(--button-background);
  border: none;
  color: var(--dark-grey-header);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
}
.button-portfolio:hover {
  background-color: var(--brand-color);
  color: var(--white-color);
}
.portfolio-net {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.portfolio-net-item {
  flex-basis: calc((100% - 60px) / 3);
  border-bottom: 1px #ececec solid;
}
.portfolio-header {
  color: var(--dark-grey-header);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}
.portfolio-text {
  color: var(--light-grey);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
}
