:root {
  --brand-color: #2196f3;
  --dark-grey-header: #212121;
  --light-grey: #757575;
  --white-color: #ffffff;
  --black-colour: #000000;
  --button-background: #f5f4fa;
}
body {
  font-family: "Roboto", "Raleway" sans-serif;
  background-color: #ffffff;
  color: var(--dark-grey-header);
  margin: 0 auto;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0 auto;
  padding: 0;
}
.wrapper {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}
img {
  display: block;
}
.link:hover {
  color: var(--brand-color);
}
/* header */
.header {
  border-bottom: 1px #ececec solid;
  display: flex;
  align-items: center;
  padding: 24px 0px;
}
.logo-header {
  color: var(--black-colour);
  line-height: 1.19;
  font-style: bold;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
}
.highlight {
  color: var(--brand-color);
}
.nav {
  list-style: none;
  display: block;
  align-items: center;
  font-family: Roboto;
  font-style: bold;
  display: flex;
  gap: 46px;
  margin-left: 93px;
}
.nav-link {
  color: var(--dark-grey-header);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
}

.contacts-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header-mail {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  font-family: Roboto;
  font-style: medium;
  margin-left: 371px;
}
.header-telephone {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  margin-left: 50px;
  margin-right: 27px;
  font-family: Roboto;
  font-style: medium;
}
/* main */

.section-dark {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
}
.main-header {
  color: var(--white-color);
  font-size: 44px;
  font-family: Roboto;
  font-style: Black;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 252px;
  padding-right: 252px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-left: 500px;
  margin-right: 500px;
}

.button-primary:hover {
  background-color: var(--button-background);
  color: var(--black-colour);
}
.lorem {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}

.lorem-item {
  width: 270px;
  flex-basis: calc((100% - 90px) / 4);
}
.lorem-item:not(:last-child) {
  margin-right: 0px;
}
.lorem-header {
  color: var(--dark-grey-header);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}
.lorem-text {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

.header-primary {
  color: var(--dark-grey-header);
  font-size: 36px;
  line-height: 1.67;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 50px;
}

.our-job {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.our-job-item {
  flex-basis: calc((100% - 60px) / 3);
}
.our-job-item:not(:last-child) {
  margin-right: 0px;
}
.picture {
  display: block;
}
.grey-section {
  background-color: #f5f4fa;
  width: 1600px;
}
.our-team {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.our-team-item {
  flex-basis: calc((100% - 90px) / 4);
}
.our-team-item:not(:last-child) {
  margin-right: 0px;
}
.personal-data {
  color: var(--dark-grey-header);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
}
.job-position {
  color: var(--light-grey);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  margin: auto 0px;
}
/*footer*/
.footer {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 1600px;
}
.logo-footer {
  color: var(--white-color);
  font-family: Raleway;
  font-style: bold;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 20px;
}
address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.company-location {
  color: var(--white-color);
  font-family: Roboto;
  font-style: regular;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  padding-bottom: 9px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: regular;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 9px;
}
.footer-telephone {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: regular;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 60px;
}
/*portfolio*/
.portfolio-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.button-portfolio {
  background-color: var(--button-background);
  border: none;
  border-radius: 2px;
  color: var(--dark-grey-header);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: Roboto;
  font-style: bold;
  line-height: 1.63;
  cursor: pointer;
}
.button-portfolio:hover {
  background-color: var(--brand-color);
  color: var(--white-color);
}
.portfolio-net {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.portfolio-net-item {
  flex-basis: calc((100% - 60px) / 3);
  border-bottom: 1px #ececec solid;
}
.portfolio-header {
  color: var(--dark-grey-header);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  font-family: Roboto;
  font-style: Bold;
}
.portfolio-text {
  color: var(--light-grey);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  font-family: Roboto;
  font-style: Regular;
}
